.dialog{
    cursor: pointer;
    padding: 7px;

    border-bottom: 1px white solid;
    display: grid;
    grid-template-columns: 2fr 9fr;
}
.dialog img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    padding: 0 5px;
}
.dialog:hover, .active{
    transition: 0.3s ease;
    border-bottom: 1px rgb(38, 228, 164) solid;
}
.dialog .dialog__info{
    font-size: 13px;
}
.dialog .dialog__info .dialog__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.dialog__name{
    font-weight: 600;
    color: black;
    margin-right: 5px;
}

.dialog__undertitle{
    display: flex;
}
.dialog__undertitle .dialog__message{
    color: grey
}