.user{
    display: grid;

    grid-template-columns: 1.5fr 8.5fr 2fr;
    padding: 20px;
}

.user .user__photo img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.user .user__info{
    padding: 0 10px;
}
.user .user__info h4{
    padding: 10px 0;
}

.user .user__button button{
    cursor: pointer;
    padding: 7px 20px;
    width: 100px;
    font-size: 15px;
    color: white;
    background: #27aae1;
    outline: none;
    border: none;
    border-radius: 20px;
}
.user .user__button button:hover{
    background: #1d70e1;
    transition: 0.4s ease;
}