.post{
    padding: 20px;
    border-bottom: 1px grey solid;
    display: grid;
    grid-template-columns: 1fr 11fr;
    font-size: 15px;
}
.post__img{
    text-align: right;
    box-sizing: border-box;
    padding: 0 10px;
}
.post__img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.post .post__title{
    display: flex;
    justify-content: space-between;
}
.post__title .title__name a{
    padding-bottom: 5px;
    color: #27aae1;
    font-weight: 500;
}
.post__title .title__name a:hover{
    text-decoration: underline;
}

.post__title .icons button{
    font-size: 14px;
    margin: 0 10px;
}
.post__title .icons i{
    padding: 0 3px;
}
.post__title .icons button{
    margin: 0;
    cursor: pointer;
    border: none;
    background: white;
}
.post__title .icons button:first-child{
    color: #468040;
}
.post__title .icons button:first-child:hover{
    color: green;
}
.post__title .icons button:nth-child(2){
    color: #ff3e41
}
.post__title .icons button:nth-child(2):hover{
    color: red;
}
.post__title .icons button:nth-child(3){
    color: grey;
}
.post__title .icons button:nth-child(3):hover{
    color: black;
}
.post__date p{
    color: grey;
    font-size: 14px;
    border-bottom: 1px #e2d9df solid;
    padding: 15px 0;
    margin: 0;
}
.post__imgWrapper{
    text-align: center;
    padding-top: 20px;
}
.post__imgWrapper img {
    cursor: pointer;
    max-width: 100%;
    max-height: 600px;
    object-fit: cover;
}
.post__text{
    padding: 20px 10px;
    border-bottom: 1px #e2d9df solid;
    word-break: break-all;
}

.post__addComment{
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.post__addComment img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    padding: 0 10px;
}
.post__addComment textarea{
    width: 100%;
    max-height: 50px;
    resize: none;
    border-radius: 5px;
}

.post__send{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #27aae1;
    font-size: 30px;
    margin: 0 20px;
    background: white;
}
.post__send:hover{
    transition: 0.4s ease;
    color: #1d70e1;
}

/* ***Media Queries*** */
@media screen and (max-width: 568px){
    .post{
        padding: 20px 0 10px 0;
        display: flex;
        flex-direction: column;
    }
    .post__img{
        text-align: left;
        margin-left: 15px;
    }
    .post__title{
        justify-content: center;
    }
}