.posts{
    padding: 20px;

}
.input{
    display: flex;
    flex-direction: row;
    padding: 5px 70px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.input img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}
.input .btn{
    cursor: pointer;
    padding: 7px 20px;
    font-size: 15px;
    color: white;
    background: #27aae1;
    outline: none;
    border: none;
    border-radius: 20px;
}
.input .input__item{
    display: flex;
    align-items: center;
}
.input .input__item:first-child{
    width: 100%;
}
.input .btn:hover{
    background: #1d70e1;
    transition: 0.4s ease;
}
.textarea{
    height: 50px;
    overflow-y: auto;
    resize: none;
    border-radius: 5px;
    width: 100%;
}
.icons{
    padding: 10px;
}
.icons button{
    cursor: pointer;
    padding: 0;
    margin: 5px;
    border: none;
    background: transparent;
}

/* ***Media Queries*** */
@media screen and (max-width: 900px){
    .input{
        margin-top: 0;
    }
}
@media screen and (max-width: 768px){
    .input{
        flex-direction: column;
        padding: 5px 25px;
    }
    .input img{
        width: 50px;
        height: 50px;
    }
    .posts{
        padding: 10px;
        margin-bottom: 60px;
    }
}
