.posts{
    padding: 20px;

}
.input{
    display: flex;
    flex-direction: row;
    padding: 20px 70px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.input img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}
.input .btn{
    cursor: pointer;
    padding: 7px 20px;
    font-size: 15px;
    color: white;
    background: #27aae1;
    outline: none;
    border: none;
    border-radius: 20px;
}
.input .btn:hover{
    background: #1d70e1;
    transition: 0.4s ease;
}
.textarea{
    height: 50px;
    overflow-y: auto;
    resize: none;
    border-radius: 5px;
    width: 60%;

}

.icons{
    padding: 10px;
}
