.header{
    background: #231F20;
    padding: 10px 30px 10px 30px;
    box-shadow: 1px 1px 7px 1px rgb(194, 187, 187);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 25px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

.logout button{
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white
}

  .header img{
    width: 50px;
  }
  /* ***Media Queries */
@media screen and (max-width: 900px){
    .header .header__imgWrapper{
        display: none;
    }
    .logout button{
        font-size: 16px;
        margin: 0 5px;
    }
    .header{
        width: 100%;
        z-index: 2;
        padding: 10px 0;
        box-shadow: 0 0 0 0;
    }
}