
.nav{
    grid-area: n;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #231F20;
    max-height: 86vh;
}
.item{
  padding: 5px;
  font-size: 18px;
  border-bottom: 1px transparent solid;
}

.item i{
    color: white;
}

.active i, .item i:hover{
    color: #27aae1;
    transition: 0.4s ease-out;
}

/* ***Media Queries*** */

@media screen and (max-width: 900px) {
    .nav{
        display: none;
    }
}