
.profile__nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121010;
    /*grid-template-columns: 2.5fr 4fr 1.5fr;
    grid-template-rows: 50px;
*/
    top: 220px;
    padding: 0 30px;
}

.profile__img{
    padding: 20px 0;
    position: absolute;
    top: -120px;
    text-align: center;
}
.img__wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    margin: 0;
    overflow: hidden;
}
/* Design input file of profile photo */
.img__wrapper input, .inputBackgroundPhoto__wrapper input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -4;
}
.img__wrapper input + label {
    color: #27aae1;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    font-weight: 700;
    bottom: 15px;
    right: 35px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

}
.img__wrapper input + label:hover{
    color: #1d70e1;
    transition: 0.4s ease;
}
/* Design input file of background photo */
.inputBackgroundPhoto__wrapper {
    position: relative;
    text-align: right;
}
.inputBackgroundPhoto__wrapper label {
    cursor: pointer;
    position: absolute;
    color: #27aae1;
    background: white;
    width: 45px;
    height: 45px;
    font-size: 16px;
    border-radius: 0 0 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputBackgroundPhoto__wrapper label:hover{
    color: #1d70e1;
    transition: 0.4s ease;
    background: #e2e2e2;

}

.profile__img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profile__info{
    color: white;
    padding: 20px;
}
.profile__menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
}
.profile__menu *{
    cursor: pointer;
    font-size: 17px;
    color: white;
    padding-bottom: 10px;
}

.profile__menu .menu__link{
    margin-left: 30px;
}

.active, .menu__link:hover, .profile__folowers:hover{
    transition: 0.4s ease;
    border-bottom: 1px #27aae1 solid;
}
.profile__name{
    color: #27aae1;
}
.profile__folowers{
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: white;
    text-align: center;
    margin: 0 10px;
}
.profile__menu .menu__icon{
    display: none;
}

.buttons{
    display: flex;
    align-items: center;

}
.send_button{
    cursor: pointer;
    background: #27aae1;
    min-width: 100px;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    padding: 5px 0;
    margin-top: 15px;
}
.send_button:hover{
    transition: 0.4s ease;
    background: #1d70e1;
}
.profile__circleWrapper{
    width: 30px;
    height: 30px;
    top: -50px;
    left: 145px;
}
.profile__circle{
    width: 24px;
    height: 24px;
}
/* ***Media Queries*** */

@media screen and (max-width: 1300px){
    .profile__menu *{
        font-size: 15px;
        padding: 15px;
        color: black;
    }
    /*.profile__menu{
        position: absolute;
        left: -10%;
        justify-content: center;
        flex-wrap: wrap;
        flex: 1 150px;
        right: 0;
    }*/
    .profile__img{
        position: relative;
        top: 0;
        text-align: center;
    }
    .profile__nav{
        background: transparent;
        flex-direction: column;
        height: 100%;
        top: 40px;
    }
    .profile__menu .menu__item{
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 900px){
    .profile__menu{
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: center;
        background: white;
        width: 100vw;
        z-index: 1;
        border-top: 1px #bcbfb8 solid;
    }
}
@media screen and (max-width: 768px){
    .profile__menu *{
        font-size: 11px;
        padding: 5px;
        margin-left: 5px;
    }
    .profile__menu *:nth-child(1){
        margin-left: 0;
    }
    .profile__menu{
        padding: 10px 0;
        justify-content: space-between;
    }
    .profile__menu .menu__item{
        display: none;
        margin: 0;
    }
    .profile__menu .menu__icon{
        display: flex;
        padding: 0;
    }
    .profile__menu .menu__icon i{
        padding: 0;
        font-size: 18px;
    }
    .active{
        border-color: transparent;
    }
    .menu__link:hover{
        border-color: transparent;
    }
    .active span i, .menu__link:hover span i{
        color: #27aae1;
        transition: 0.4s ease;
    }
}