.profile{
    background: url("http://mythemestore.com/friend-finder/images/covers/1.jpg") no-repeat ;
    min-height: 300px;
    background-size: cover;
    /*grid-gap: 20px;*/
    /*overflow: hidden;*/
}
.profile__nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121010;
    /*grid-template-columns: 2.5fr 4fr 1.5fr;
    grid-template-rows: 50px;
*/
    top: 220px;
    padding: 0 30px;
}
.profile__img{
    padding: 20px;
    position: absolute;
    top: -120px;
}
.img__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    margin: 0;
}
.profile__img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__info{
    color: white;
    padding: 20px;
}
.profile__menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
}
.profile__menu *{
    cursor: pointer;
    margin-left: 30px;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
}
.active, .profile__menu *:hover, .profile__folowers:hover{
    transition: 0.4s ease;
    border-bottom: 1px #27aae1 solid;
}
.profile__name{
    color: #27aae1;
}
.profile__folowers{
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: white;
    text-align: center;
    margin: 0 10px;
}

/* The Modal (background) */
.modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal__content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 16% auto; /* 15% from the top and centered */
    width: 40%; /* Could be more or less, depending on screen size */
}
.buttons{
    display: flex;
    align-items: center;

}
/* The Close Button */
.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    outline: none;
    border: none;
    background: transparent;
}

.close:hover,
.close:focus {
    transition: 0.4s ease;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal__title{
    background: #27aae1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.modal__title h4{
    color: white;
    font-weight: 500;
}
.modal__userInfo{
    padding: 30px;
    display: flex;
}
.modal__userInfo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.modal__userInfo h5{
    color: #1d70e1;
    font-size: 15px;
    font-weight: 800;
    margin-left: 10px;
}
.modal__userInfo h5:hover{
    text-decoration: underline;
    transition: 0.4s ease;
}
.modal__textarea{
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.modal__textarea textarea{
    resize: none;
    width: 100%;
    height: 100px;
}
.send_button{
    cursor: pointer;
    background: #27aae1;
    min-width: 100px;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    padding: 5px 0;
    margin-top: 15px;
}
.send_button:hover{
    transition: 0.4s ease;
    background: #1d70e1;
}