.login{
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    min-height: 90vh;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 5.5fr 6.5fr;
}
.login__title {
    background: #27aae1;
    display: grid;
    align-items: center;
    justify-items: center;
}
.login__title_content{
    text-align: center;
}
.login__quote{
    color: white;
}
.login__container{
    max-width: 33em;
    min-width: 30em;
    margin: 0 auto;
}
.login__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__content .login__h2{
    text-align: center;
    margin: 20px;
    font-size: 30px;
}
.login__content .login__inputs{
    margin-bottom: 25px;
}
/*.login__content .login__inputs input{
    margin: 20px 0;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px grey solid;
    width: 100%;
}*/
.login__links {
    display: flex;
    justify-content: space-between;
}
.login__buton button{
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    background: #27aae1;
    color: white;
    text-transform: uppercase;
}
.login__buton button:hover{
    background: #1d70e1;
    transition: 0.4s;
}

/* Styling inputs */

.login__error{
    color: red;
    text-align: center;
    font-size: 15px;
}

/* Media Queries */
@media screen and (max-width: 1300px){
    .login{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px){

    .login__title_content img{
        width: 100px;
    }
    .login__title h1{
        display: none;
    }
    .login__container{
        margin-top: 20px;
        min-width: 20em;
    }
}