body{
  background: lightgray;
}

a{
  text-decoration: none;
}

.app-wrapper{
  display: grid;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 10fr;/* одна колонка занимает 2 фракции, а другая 10 фракция*/
    grid-gap: 10px;/* расстояние между элементами */
}

.app-wrapper-content{
  grid-area: c;
  
}
