@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:400,500,600,800&display=swap');

body{
  background: lightgray;
  overflow-y: scroll;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  margin: 0;
}

h1, h2,h3,h4,h5,h6{
  margin: 0;
  font-family: 'Raleway';
}
i{
  padding: 0;
}
textarea, button{
  outline: none;
}
::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track,textarea::-webkit-scrollbar-track  {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

a{
  text-decoration: none;
}
.text-blue{
  color: blue !important;
}
.text-grey{
  color: grey;
}
.app-wrapper{
  display: grid;
  max-width: 1350px;
  min-height: 90vh;
  margin: 0 auto;
  margin-bottom: 20px;
  grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: auto 1fr;
    grid-template-columns: 0.7fr 11.3fr;/* одна колонка занимает 2 фракции, а другая 10 фракция*/
    grid-gap: 8px;/* расстояние между элементами */
}

.app-wrapper-content{
  grid-area: c;
  
}

.bg-shadow{
  background: white;
  box-shadow: 1px 1px 7px 1px rgb(194, 187, 187);
}

.text-center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.user__button button{
  cursor: pointer;
  padding: 7px 20px;
  min-width: 100px;
  font-size: 15px;
  color: white;
  background: #27aae1;
  outline: none;
  border: none;
  border-radius: 20px;
  margin: 0 10px;
}
.user__button button:hover{
  background: #1d70e1;
  transition: 0.4s ease;
}
.send__message{
  width: 230%;
}
.w100{
  width: 100%;
}
/* NavBar nav */

.nav{
  grid-area: n;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #231F20;
}

/* Burger button in header */
.burger__check{
  display: none;
}
.burger__check:checked ~ .nav{
  left: 0;
}
/*.burger__check{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}*/
.burger span{
  width: 33px;
  height: 3px;
  margin-left: 10px;
  margin-bottom: 5px;
  position: relative;  
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  display: none;
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

/* ***Media Queries*** */

@media screen and (max-width: 900px){
  .app-wrapper-content{
    padding-top: 35px;
  }
  .app-wrapper{
    grid-template-areas:
            "h h"
            "c c";
    margin-bottom: 0;
  }
  .nav{
    position: fixed;
    left: -100%;
    height: 100vh;
    padding-top: 70px;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.23, 1, 0.520, 1);
    min-width: 25vw;
  }
  .burger span{
    display: block;
  }
  
}


@media screen and (max-width: 768px){
    .user__button button{
      font-size: 12px;
      min-width: 90px;
    }
}

