@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:400,500,600,800&display=swap');

body{
  background: lightgray;
  overflow-y: scroll;
  font-family: 'Montserrat';
}
p{
  margin: 0;
}

h1, h2,h3,h4,h5,h6{
  margin: 0;
  font-family: 'Raleway';
}
i{
  padding: 0;
}
textarea, button{
  outline: none;
}
::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track,textarea::-webkit-scrollbar-track  {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

a{
  text-decoration: none;
}
.text-blue{
  color: blue !important;
}
.text-grey{
  color: grey;
}
.app-wrapper{
  display: grid;
  width: 1350px;
  min-height: 90vh;
  margin: 0 auto;
  margin-bottom: 20px;
  grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: auto 1fr;
    grid-template-columns: 0.7fr 11.3fr;/* одна колонка занимает 2 фракции, а другая 10 фракция*/
    grid-gap: 8px;/* расстояние между элементами */
}

.app-wrapper-content{
  grid-area: c;
  
}

.bg-shadow{
  background: white;
  box-shadow: 1px 1px 7px 1px rgb(194, 187, 187);
}

.text-center{
  text-align: center;
  margin: 20px 0;
}

.user__button button{
  cursor: pointer;
  padding: 7px 20px;
  min-width: 100px;
  font-size: 15px;
  color: white;
  background: #27aae1;
  outline: none;
  border: none;
  border-radius: 20px;
  margin: 0 10px;
}
.user__button button:hover{
  background: #1d70e1;
  transition: 0.4s ease;
}
.send__message{
  width: 230%;
}
.w100{
  width: 100%;
}