.dialogs{
    display: grid;
    grid-template-columns: 3.5fr 8.5fr;
    box-shadow: 4px 10px 18px -3px rgba(50, 50, 50, 0.5);
    min-height: 100%;
    padding: 0 20px 0 20px;
}
.dialogs .dialogs__items{
    box-shadow: 5px 0px 8px -4px rgba(50, 50, 50, 0.75);
}
.dialogs__items .dialog{
    cursor: pointer;
    padding: 7px;
    margin: 5px 5px;
    border-bottom: 1px white solid;
}
.dialogs__items .dialog:hover{
    transition: 0.3s ease;
    border-bottom: 1px rgb(38, 228, 164) solid;
}
.messages{
    
    padding: 20px;
}
.message{
    padding: 7px;
}

.active{
    color: grey;
    border-bottom: 1px rgb(38, 228, 164) solid !important;
}

